.heading {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: medium;
}

.fields {
    margin-top: 1rem;
}

.item {
    font-size: medium;
}

.item-label {
    font-weight: 350;
}

.extra {
    margin-top: 1rem;
}

.footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
