.card {
    margin: auto;
    width: 50%;
}

.title {
    text-transform: capitalize;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.heading {
    text-align: left;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.875rem 0.75rem;
}

.table {
    min-width: 100%;
}
